body {
    font-family: sans-serif;
    background: #1F1D2B;
    color: #ffffff;
    padding: 10px 20px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

input {
    background: #272636;
    border: none;
    outline: none;
    padding: 18px;
    margin: 2px;
    font-size: 20px;
    color: #ffffff;
}

.input {
    background: #272636;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.input:hover {
    border: 2px solid #6F6FC8;
}
.input:focus {
    border: 2px solid #6F6FC8;
}

.input button {
    background: none;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 25px;
    margin-left: 10px;
    transition: 0.5s;
    cursor: pointer;
    padding: 20px;
}

.input button:hover {
    opacity: 0.5;
}

.todo {
    width: 500px;
    background: #272636;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.todo p {
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
}

.todo button {
    border: none;
    outline: none;
    margin-right: 20px;
    background: none;
    color: #FE4343;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.9;
}

.todo:hover {
    border: 2px solid #6F6FC8;
}

@media (max-width: 550px){
    .input {
        width: 90vw;
    }
    .todo{
        width: 90vw;
    }
}

.checkbox {
    margin-left: 20px;
    -webkit-appearance: none;
	background-color: none;
	border: 1px solid #6F6FC8;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    overflow: none;
}

.checkbox:checked{
    background-color: #6F6FC8;
}