body {
    font-family: sans-serif;
    background: #1F1D2B;
    color: #ffffff;
    padding: 10px 20px;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

input {
    background: #272636;
    border: none;
    outline: none;
    padding: 18px;
    width: 500px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 10px;
    transition: 0.5s;
    border: 2px solid transparent;
}

input:focus {
    border: 2px solid #6F6FC8;
}

@media (max-width: 550px){
    input {
        width: 100%;
    }
}