
:root {
    --primary-color: #1F1D2B;
    --secondary-color: #272636;
    --text-color: #ffffff;
    --accent-color: #6F6FC8;
    --danger-color: #FE4343;
}

body {
    font-family: sans-serif;
    background: var(--primary-color);
    color: var(--text-color);
    padding: 10px 20px;
}

button {
    -webkit-tap-highlight-color: transparent;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

input {
    background: var(--secondary-color);
    width: 60%;
    border: none;
    outline: none;
    padding: 18px;
    margin: 2px;
    font-size: 20px;
    color: #ffffff;
}

.input {
    background: var(--secondary-color);
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.5s;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.input:hover {
    border: 2px solid var(--accent-color);
}
.input:focus {
    border: 2px solid var(--accent-color);
}

.input button {
    background: none;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 25px;
    transition: 0.5s;
    cursor: pointer;
    padding: 20px;
}

.input button:hover {
    opacity: 0.5;
}

.todo {
    width: 500px;
    background: var(--secondary-color);
    border-radius: 10px;
    border: 2px solid transparent;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.todo p {
    font-size: 20px;
    cursor: pointer;
    padding: 5px 10px;
}

.todo button {
    border: none;
    outline: none;
    margin-right: 20px;
    background: none;
    color: var(--danger-color);
    font-size: 20px;
    cursor: pointer;
    opacity: 0.9;
}

.todo:hover {
    border: 2px solid var(--accent-color);
}

.todo-content {
    display: flex;
    align-items: center;
}

@media (max-width: 550px){
    .input {
        width: 90vw;
    }
    .todo{
        width: 90vw;
    }
}

.checkbox {
    margin-left: 20px;
    width: 10px;
    height: 10px;
    -webkit-appearance: none;
	background-color: none;
	border: 1px solid var(--accent-color);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
    overflow: none;
}

.checkbox:checked{
    background-color: var(--accent-color);
}

.options {
    margin-top: 30px;
}

.options button {
    border: none;
    outline: none;
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid var(--accent-color);
    background: none;
    color: var(--text-color);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.5s;
}

.options button:hover {
    background: var(--accent-color);
    opacity: 1;
}

.options .selected-btn {
    background: var(--accent-color);
}

.completed-task {
    text-decoration: line-through;
}

.error-message {
    color: var(--danger-color);
    text-align: center;
    opacity: 0.8;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}